{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

	<div class="example-wrapper col-sm-3 mx-auto">
		<h2 class="mb-3">Register</h2>

		{{ form(form) }}
	</div>

{% endblock %}
